* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
  width: 100%;
  margin: auto;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  text-decoration: none;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.text{
  font-family:  'Julius Sans One', sans-serif;
  text-decoration: none;
  color: #E4E2E6;



  font-weight: lighter;
  font-size: 22px;
}




 .nav__links a,


.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #BFB8BA;
  text-decoration: none;
  display: flex;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left:115%;

}

.nav__links li {
  padding: 0px 20px;
  display: flex;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
  display: flex;
}

.nav__links li a:hover {
  color: #f9ae54;
}

#comet{
  sizing:10px;
}
body{
  background-color: black;


}
img{
  max-width: 100%;
  height: auto;
}




@media screen and(max-width:1024px){
    body{
        display: none;
    }
}

@media screen and(max-width:1024px){
  .nav__links{
    max-width: 100%;
    height: auto;
  }
}
